@use "theme/mixin.scss" as *;

//update 08.08.23//

.loginForm {
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/login_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .login-section {
    width: 100%;
    max-width: 785px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    .card0 {
      box-shadow: 0px 13px 27px -5px var(--bg_clr_login_box_shadow);
      -webkit-box-shadow: 0px 13px 27px -5px var(--bg_clr_login_box_shadow);
      -moz-box-shadow: 0px 13px 27px -5px var(--bg_clr_login_box_shadow);
      border-radius: 36px;
      overflow: hidden;
      padding: 15px 60px;
      margin-inline: 100px;
      @include max(1600px) {
        margin-inline: 150px;
      }
      .trackerlogo {
        text-align: center;
        img {
          @include max(1600px) {
            width: 100%;
            max-width: 240px;
          }
        }
      }
      .login-tag {
        font-family: "TT Interfaces";
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        cursor: context-menu;
        color: var(--bg_clr_secondary_dark);
        padding-block: 20px;
        @include max(1600px) {
          padding-block: 0px;
          font-size: 16px;
        }
      }
      .card2 {
        .input-form {
          padding-block-start: 50px;
          @include displayFlex(column, flex-start, flex-start);
          gap: 20px;
          @include max(1600px) {
            padding-block-start: 30px;
          }
          .input_body {
            width: 100%;
            position: relative;
            padding: 0;
            input,
            textarea {
              background-color: var(--bg_clr_prime_extra_extra_light);
              border-radius: 19px;
              padding: 10px 35px;
              height: 80px;
              border: none;
              font-family: "TT Interfaces";
              font-size: 24px;
              font-weight: 400;
              line-height: 30px;
              color: var(--bg_clr_secondary_dark);
              width: 100%;
              @include max(1600px) {
                height: 50px;
                font-size: 20px;
                border-radius: 14px;
              }
            }
            .password_input {
              position: relative;
              width: 100%;
              display: block;
              span {
                position: absolute;
                cursor: pointer;
                right: 10px;
                top: 0;
                bottom: 0;
                margin-block: auto;
                height: 20px;
                width: 20px;
                z-index: 11;
                color: var(--bg_clr_secondary_dark);
              }
            }
          }
        }
        .form-check {
          width: auto;
          .form-check-input {
            cursor: pointer;
            &:checked {
              background-color: var(--bg_clr_prime_light);
              border-radius: 50%;
              border-color: var(--bg_clr_prime_light);
            }
          }
          .form-check-label {
            font-family: "TT Interfaces";
            font-size: 21px;
            font-weight: 500;
            line-height: 26px;
            color: var(--bg_clr_secondary_dark);
            @include max(1600px) {
              font-size: 16px;
            }
          }
        }
        .forgot-text {
          a {
            font-family: "TT Interfaces";
            cursor: pointer;
            font-size: 21px;
            font-weight: 500;
            line-height: 26px;
            color: var(--bg_clr_prime_light);
            text-decoration: none;
            @include max(1600px) {
              font-size: 16px;
            }
          }
        }
        .login-btn {
          padding-block-start: 50px;
          @include max(1600px) {
            padding-block-start: 10px;
          }
          .btn-blue {
            background-color: var(--bg_clr_prime);
            border: 1px solid var(--bg_clr_prime);
            width: 100%;
            color: var(--bg_clr_primary);
            border-radius: 19px;
            height: 70px;
            font-family: "TT Interfaces";
            font-size: 26px;
            font-weight: 500;
            line-height: 33px;
            &:hover {
              background-color: transparent;
              color: var(--bg_clr_prime);
              cursor: pointer;
            }
            @include max(1600px) {
              font-size: 20px;
              height: 50px;
              border-radius: 14px;
            }
          }
        }
        .bg-blue {
          color: #fff;
          background-color: #0054aa;
          font-weight: 500;
        }
      }
    }
  }
  .copyright-text {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-family: "TT Interfaces";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: var(--bg_clr_secondary_dark);
    @include max(1600px) {
      font-size: 16px;
    }
    img {
      width: 100%;
      max-width: 120px;
      margin: 0 auto;
      padding-block: 10px;
      @include max(1600px) {
        max-width: 90px;
        padding-block: 5px;
      }
    }
    .version {
      color: var(--bg_clr_prime_light);
      margin-bottom: 0;
      font-size: 15px;
      cursor: context-menu;
    }
    p {
      margin-top: 0;
      margin-bottom: 0rem;
      font-size: 15px;
      cursor: context-menu;
    }
  }
}

//old//

.error_body {
  position: absolute;
  bottom: 5px;
  left: 0;
}
.error_body p {
  margin: 0;
  font-size: 11px;
}
//modal//

.modalcustom-header {
  padding-inline: 30px;
  padding-block: 20px;
  .modal-title {
    color: var(--bg_clr_secondary);
    font-family: "TT Interfaces";
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
  }
  .close {
    position: absolute;
    right: 25px;
    top: 15px;
    border-radius: 50%;
    outline: none;
    border: 1px solid var(--bg_clr_attention_light);
    background-color: var(--bg_clr_attention_light);
    color: var(--bg_clr_primary);
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 21px;
  }
}
.modalcustom-body {
  padding: 30px;
  text-align: center;
  .modal-body-title {
    font-family: "TT Interfaces";
    font-size: 25px;
    font-weight: 500;
    line-height: 40px;
    color: var(--bg_clr_secondary_dark);
    margin: 0;
  }
  h5 {
    padding-block: 20px;
    font-family: "TT Interfaces";
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: var(--bg_clr_prime_dark);
  }
}
.modalcustom-footer {
  padding-inline: 30px;
  padding-block-end: 30px;
  .btn-primary {
    background-color: var(--bg_clr_prime_extra_extra_light);
    color: var(--bg_clr_prime_light);
    padding: 10px 60px;
    font-family: "TT Interfaces";
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    border: 1px solid var(--bg_clr_prime_extra_extra_light);
    border-radius: 18px;
  }
}

::ng-deep {
  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;

    .modal-content {
      border: none;
      background-color: var(--bg_clr_primary);
      border-radius: 19px;
      box-shadow: 0px 45.959999084472656px 51px -7.590000152587891px var(--bg_clr_secondary_light_shadow);
      .modal-header {
        justify-content: center;
      }
    }
  }
}
